$content-width: 800px;
$body-background-color: #000000;
$main-background-color: #242424;
$font-color: #c9c9c9;
$link-color: #19ccaa;
$heading-font-color: #49a8de;
$light: #ffffff;

$nav-background-color: $body-background-color;
$blockquote-background-color: $body-background-color;
$blockquote-outline-color: $heading-font-color;
$code-color: $light;

$font: 'Arvo', sans-serif;
$heading-font: 'Cousine', sans-serif;
$link-font: $heading-font;
$code-font: $heading-font;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

