$black: #000000;
$gray: #353535;
$dark-gray: #252525;
$light-gray: #c9c9c9;
$green: #19ccaa;
$bright-green: #49e9ca;
$blue: #49a8de;
$white: #ffffff;

$content-width: 800px;

$body-background-color: $black;
$main-background-color: $gray;
$nav-background-color: $black;
$blockquote-background-color: $black;
$proof-background-color: $dark-gray;

$font-color: $light-gray;
$link-color: $green;
$link-hover-color: $bright-green;
$heading-font-color: $blue;

$blockquote-outline-color: $blue;
$proof-border-color: $light-gray;
$code-color: $white;

$font: 'Arvo', sans-serif;
$heading-font: 'Source Code Pro', monospace;
$link-font: 'Arvo';
$code-font: 'Source Code Pro', monospace;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

