$code-comment-color: #777777;
$code-bool-color: #ff6050;
$code-string-color: #66d077;
$code-string-alt-color: #5f7760;
$code-number-color: #4093cc;
$code-operator-color: #bbbbaa;
$code-punctuation-color: #8888aa;
$code-key-color: #abcdef;
$code-variable-color: #eecc44;
$code-keyword-color: #bb88dd;
$code-method-color: #be7023;
$code-name-color: #ffffff;

.highlight .cm { color: $code-comment-color } /* Comment.Multiline */
.highlight .c1 { color: $code-comment-color } /* Comment.Single  */

.highlight .kc { color: $code-bool-color } /* Keyword.Constant */
.highlight .kp { color: $code-bool-color } /* Keyword.Pseudo */
.highlight .bp { color: $code-bool-color } /* Name.Builtin.Pseudo */

.highlight .s { color: $code-string-color } /* Literal.String */
.highlight .s1 { color: $code-string-color } /* Literal.String.Single */
.highlight .s2 { color: $code-string-color } /* Literal.String.Double */
.highlight .sb { color: $code-string-color } /* Literal.String.Backtick */

.highlight .se { color: $code-string-alt-color } /* Literal.String.Escape ruby, python, javascript*/

.highlight .mf { color: $code-number-color } /* Literal.Number.Float */
.highlight .mi { color: $code-number-color } /* Literal.Number.Integer */

.highlight .o { color: $code-operator-color } /* Operator */
.highlight .ow { color: $code-operator-color } /* Operator.Word */

.highlight .p { color: $code-punctuation-color } /* Punctuation */
.highlight .si { color: $code-punctuation-color } /* Literal.String.Interpol */

.highlight .ss { color: $code-key-color } /* Literal.String.Symbol */
.highlight .na { color: $code-key-color } /* Name.Attribute */

.highlight .n { color: $code-variable-color } /* Name */
.highlight .nx { color: $code-variable-color } /* Name.Other */

.highlight .k { color: $code-keyword-color } /* Keyword */
.highlight .kd { color: $code-keyword-color } /* Keyword.Declaration */
.highlight .kn { color: $code-keyword-color } /* Keyword.Namespace */

.highlight .nf { color: $code-method-color } /* Name.Function */
.highlight .nb { color: $code-method-color } /* Name.Builtin */

.highlight .nc { color: $code-name-color } /* Name.Class */
.highlight .nn { color: $code-name-color } /* Name.Namespace */
.highlight .no { color: $code-name-color } /* Name.Constant */


/* not observed yet */
.highlight .c { color: #999999 } /* Comment */
.highlight .cp { color: #999999 } /* Comment.Preproc */
.highlight .cs { color: #999999 } /* Comment.Special */

.highlight .err { color: #999999 } /* Error */

.highlight .g { color: #999999 } /* Generic */
.highlight .gd { color: #999999 } /* Generic.Deleted */
.highlight .ge { color: #999999; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #999999 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #999999 } /* Generic.Inserted */
.highlight .go { color: #999999 } /* Generic.Output */
.highlight .gp { color: #999999 } /* Generic.Prompt */
.highlight .gs { color: #999999; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #999999 } /* Generic.Subheading */
.highlight .gt { color: #999999 } /* Generic.Traceback */

.highlight .il { color: #999999 } /* Literal.Number.Integer.Long */

.highlight .kr { color: #999999 } /* Keyword.Reserved */
.highlight .kt { color: #999999 } /* Keyword.Type */

.highlight .l { color: #999999 } /* Literal */
.highlight .ld { color: #999999 } /* Literal.Date */

.highlight .m { color: #999999 } /* Literal.Number */
.highlight .mh { color: #999999 } /* Literal.Number.Hex */
.highlight .mo { color: #999999 } /* Literal.Number.Oct*/

.highlight .sc { color: #999999 } /* Literal.String.Char */
.highlight .sd { color: #999999 } /* Literal.String.Doc */
.highlight .sh { color: #999999 } /* Literal.String.Heredoc */
.highlight .sr { color: #999999 } /* Literal.String.Regex */
.highlight .sx { color: #999999 } /* Literal.String.Other */

.highlight .nd { color: #999999 } /* Name.Decorator */
.highlight .ni { color: #999999 } /* Name.Entity */
.highlight .ne { color: #999999 } /* Name.Exception */
.highlight .nl { color: #999999 } /* Name.Label */
.highlight .nt { color: #999999 } /* Name.Tag */
.highlight .nv { color: #999999 } /* Name.Variable */

.highlight .py { color: #999999 } /* Name.Property */

.highlight .vc { color: #999999 } /* Name.Variable.Class */
.highlight .vg { color: #999999 } /* Name.Variable.Global */
.highlight .vi { color: #999999 } /* Name.Variable.Instance */

.highlight .w { color: #999999 } /* Text.Whitespace */
.highlight .x { color: #999999 } /* Other */

